version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    target-branch: "main"
    groups:
      maven-security-updates:
        applies-to: "security-updates"
        patterns:
          - "*"
    schedule:
      interval: "daily"
    labels:
      - "patch"
      - "dependencies"

  - package-ecosystem: "npm"
    directory: "/"
    target-branch: "main"
    groups:
      npm-security-updates:
        applies-to: "security-updates"
        patterns:
          - "*"
    schedule:
      interval: "daily"
    labels:
      - "patch"
      - "dependencies"